<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  
  <app-home> </app-home>
  <app-three> </app-three>
  
  <div class="container">
      <h2>log in</h2>
      <form>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="pwd">Pass:  </label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div> 
</div>
<h2>Here are some links: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://albaath-univ.edu.sy/">Albaath university</a></h2>
  </li>
  <li>
      <h2><a target="_blank" rel="noopener" href="http://www.tishreen.edu.sy/">Tishreen university</a></h2>
    </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://www.mohe.gov.sy/mohe/">The Ministry of Higher Education and Scientific </a></h2>
  </li>
  
</ul>

